.hello{
    background-color:orangered;
}

/* this stylesheet was referenced via a link that had a media attr defined
it should only apply on screen > 600px */
#attribute-test {
    display: block;
    color: #fff;
    background: black;
    text-align: center;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


